<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="http://getbootstrap.com/docs-assets/css/docs.css" rel="stylesheet">
  <!--  <link href="http://getbootstrap.com/docs-assets/css/pygments-manni.css" rel="stylesheet"> -->
  </head>


<body>

    <!-- Docs master nav -->
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">Authorize</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="../getting-started">Getting started</a>
        </li>
        <li class="active">
          <a href="../components">API</a>
        </li>
        <li>
          <a href="../javascript">Client Libraries</a>
        </li>
        <li>
          <a href="../javascript">Authentication</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="../about">Back to Developer Center</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
<li>
  <a href="#dropdowns">Payment Transactions</a>
  <ul class="nav">
    <li><a href="#dropdowns-example">Create Transaction</a></li>
  </ul>
</li>
<li>
  <a href="#btn-groups">Customer Profiles</a>
  <ul class="nav">
    <li><a href="#btn-groups-single">Create Customer Profile</a></li>
    <li><a href="#btn-groups-toolbar">Button toolbar</a></li>
    <li><a href="#btn-groups-sizing">Sizing</a></li>
    <li><a href="#btn-groups-nested">Nesting</a></li>
    <li><a href="#btn-groups-vertical">Vertical variation</a></li>
    <li><a href="#btn-groups-justified">Justified link variation</a></li>
  </ul>
</li>
<li>
  <a href="#btn-groups">Recurring Billing</a>
  <ul class="nav">
    <li><a href="#btn-groups-single">Basic example</a></li>
    <li><a href="#btn-groups-toolbar">Button toolbar</a></li>
    <li><a href="#btn-groups-sizing">Sizing</a></li>
    <li><a href="#btn-groups-nested">Nesting</a></li>
    <li><a href="#btn-groups-vertical">Vertical variation</a></li>
    <li><a href="#btn-groups-justified">Justified link variation</a></li>
  </ul>
</li>

<li>
  <a href="#btn-groups">Reporting</a>
  <ul class="nav">
    <li><a href="#btn-groups-single">Basic example</a></li>
    <li><a href="#btn-groups-toolbar">Button toolbar</a></li>
    <li><a href="#btn-groups-sizing">Sizing</a></li>
    <li><a href="#btn-groups-nested">Nesting</a></li>
    <li><a href="#btn-groups-vertical">Vertical variation</a></li>
    <li><a href="#btn-groups-justified">Justified link variation</a></li>
  </ul>
</li>
            </ul>
          </div>
        </div>

<div class="col-md-9" role="console">

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          API Console 
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
  <div class="panel-body">
    <p>Sample XML for each API method is presented below.  Click Try It to run this request against our sandbox.  Amend the sample XML to test optional fields and other use cases.</p>
      <form class="form-horizontal">
        <div class="form-group"> 
          <label for="inputRequest" class="col-sm-2 control-label">Request</label>
          <div class="col-sm-10">
             <textarea class="form-control" id="inputRequest" rows="3">
&lt;getTransactionListRequest xmlns=&quot;AnetApi/xml/v1/schema/AnetApiSchema.xsd&quot;&gt;
    &lt;merchantAuthentication&gt;
        &lt;name&gt;API_LOGIN_ID&lt;/name&gt;
        &lt;transactionKey&gt;API_TRANSACTION_KEY&lt;/transactionKey&gt;
    &lt;/merchantAuthentication&gt;
    &lt;batchId&gt;834801&lt;/batchId&gt;
&lt;/getTransactionListRequest&gt;
             </textarea>
          </div>
        </div>
        <div class="form-group"> 
          <button type="button" class="btn btn-primary pull-right">Try It!</button>
        </div>
        <div class="form-group"> 
          <label for="inputResponse" class="col-sm-2 control-label">Response</label>
          <div class="col-sm-10">
             <textarea class="form-control" id="inputResponse" rows="3"></textarea>
          </div>
        </div>
      </form>
   </div>
</div>
</div>


<div class="col-md-9" role="main">

<!-- Dropdowns
  ================================================== -->
  <div class="bs-docs-section">
    <div class="page-header">
      <h1 id="dropdowns">Payment Transactions</h1>
    </div>
    <p class="lead">The following API methods allow you to authorize a payment transaction, refund a payment, etc.</p>

    <h3 id="dropdowns-example">Create Transaction</h3>
    <p>The &lt;createTransactionRequest&gt; XML type has the following elements:</p>
    <table class="table table-condensed">
        <thead>
          <tr>
            <th>Element</th>
            <th>Value</th>
            <th>Format</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>transactionType</td>
            <td>Type of transaction (optional)</td>
            <td>authOnlyTransaction<br/>authCaptureTransaction</td>
            <td>If the value submitted does not match a supported value, the transaction is rejected.</td>
          </tr>
          <tr>
            <td>amount</td>
            <td>Amount of the transaction (Required)</td>
            <td>Up to 15 digits with a decimal point</td>
            <td>This is the TOTAL amount</td>
          </tr>
          <tr>
            <td>cardNumber</td>
            <td colspan="2"></td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>

  <!-- Button Groups
  ================================================== -->
  <div class="bs-docs-section">
    <div class="page-header">
      <h1 id="btn-groups">Customer Profiles</h1>
    </div>
    <p class="lead">Create a profile to store your customers payment and shipping info</p>

  </div>
  </div>


</body>
